{{define "header"}}
<header class="bg-amber-50 text-black">
    <h1 style=" font-family: 'Tangerine' , serif; font-size: 48px;" class="py-4 text-center">
        John Smith & Pocahontas</h1>
    <p class="py-2 text-center text-stone-500">January 1, 1400 Boston, MA</p>
    {{/* mobile */}}
    <div id="mobile-menu" class="md:hidden py-4 text-center">
        <ul>
            <li><a href="/story"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="story-mobile"> Story</span>
                    </button>
                </a>
            </li>
            <li><a href="/party"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="party-mobile"> Party</span>
                    </button>
                </a>
            </li>
            <li><a href="/schedule"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="events-mobile"> Events</span>
                    </button>
                </a>
            </li>
            <li><a href="/rsvp"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="rsvp-mobile"> RSVP</span>
                    </button>
                </a>
            </li>
            <li><a href="/registry"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="registry-mobile"> Registry</span>
                    </button>
                </a>
            </li>
            <li><a href="/analytics"><button class="nav-btn-mobile nav-btn w-5/6">
                        <span class="analytics-mobile"> Analytics</span>
                    </button>
                </a>
            </li>

        </ul>
    </div>
    {{/* desktop */}}
    <div id="menu" class="hidden md:block md:py-4 md:text-center">
        <ul>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/story"><i class="fa-solid fa-heart"></i> Our Story</a></span>
                    <a href="/story" class="text-stone-500"><i class="fa-solid fa-heart"></i> Our Story</a>
                </div>
                </a>
            </li>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/party"><i class="fa-solid fa-people-group"></i> Wedding Party</a></span>
                    <a href="/party" class="text-stone-500"><i class="fa-solid fa-people-group"></i> Wedding Party</a>
                </div>
                </a>
            </li>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/story"><i class="fa-solid fa-champagne-glasses"></i> Schedule</a></span>
                    <a href="/schedule" class="text-stone-500"><i class="fa-solid fa-champagne-glasses"></i>
                        Schedule</a>
                </div>
                </a>
            </li>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/rsvp"><i class="fa-solid fa-envelope"></i> RSVP</a></span>
                    <a href="/rsvp" class="text-stone-500"><i class="fa-solid fa-envelope"></i> RSVP</a>
                </div>
                </a>
            </li>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/registry"><i class="fa-solid fa-gift"></i> Registry</a></span>
                    <a href="/registry" class="text-stone-500"><i class="fa-solid fa-gift"></i> Registry</a>
                </div>
                </a>
            </li>
            <li>
                <div class="nav-btn">
                    <span class="textwrapper"><a href="/analytics"><i class="fa-solid fa-chart-simple"></i> Analytics</a></span>
                    <a href="/analytics" class="text-stone-500"><i class="fa-solid fa-chart-simple"></i> Analytics</a>
                </div>
                </a>
            </li>

        </ul>
    </div>
</header>
{{end}}