<!DOCTYPE html>
<html lang="en">

<div class="bg-amber-50">
    {{template "head"}}
    {{template "header"}}

    <div class="grid grid-cols-1 md:grid-cols-4 md:gap-2 py-6">
        <div class="hidden md:flex"></div>

        <div class="md:col-span-2">
            <form action="/rsvp/confirm" method="POST" id="rsvp" class="text-center" content-type="application/json">
                <div class="text-center">
                    <select required id="displayName" name="displayName"
                        class="text-center w-96 mt-0 px-0.5 border-0 border-b-2 border-gray-200  focus:ring-0 focus:border-black">
                        <option disabled selected value>Select your group</option>
                        {{range .}}
                        <option value="{{.DisplayName}}">{{.DisplayName}}</option>
                        {{end}}
                    </select>
                </div>
                <br>
                <div hidden id="response">
                    <span class="px-4">
                        <input type="radio" name="rsvpOptions" value="yes" class="radio"> <label>Will be
                            attending</label>
                    </span>
                    <span class="px-4">
                        <input type="radio" name="rsvpOptions" value="no" class="radio"> <label>Will not be
                            attending</label>
                    </span>
                </div>

                <div class="py-6">
                    <div id="yes" hidden>

                        <div>
                            <i class="fa-regular fa-circle-check text-green-600"></i>
                            <span class="italic">Please fill out a card below for each guest attending.</span>
                        </div>


                        <div class="divider"><i class="fa-solid fa-heart"></i></div>

                        <div id="guests">
                            <div id="cards" class="grid grid-cols-1 md:grid-cols-2">
                                {{template "card"}}
                                <button type="button" id="addButton" onclick="addGuest()"
                                    class="card w-11/12 shadow-xl bg-slate-200 text-center">
                                    <div>
                                        Add Guest
                                    </div>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


                <div id="no" hidden>
                    <div>
                        <i class="fa-regular fa-circle-xmark text-red-600"></i>
                        <span class="italic">We're sorry you can't make it!</span>
                    </div>
                    <div class="divider"><i class="fa-solid fa-heart"></i></div>
                </div>



                <br>
                <div id="review" hidden>
                    <button type="submit" class="btn" onclick="formJSON()">Review</button>
                </div>
            </form>


        </div>




    </div>


    <div class=" hidden md:flex">
    </div>
</div>


<footer>
    <script src="/assets/js/rsvp_display.js"></script>
    <script src="/assets/js/add_guest.js"></script>
    <script src="/assets/js/remove_guest.js"></script>
    <script src="/assets/js/serialize_json.js"></script>
    <script src="/assets/js/submit_form.js"></script>
</footer>

</html>