<!DOCTYPE html>
<html lang="en">

<body class="bg-amber-50 text-center">
    {{template "head"}}
    {{template "header"}}


    {{/* {{.DisplayName}}
    <form action="/rsvp/guests" method="POST">
        <input type="hidden" id="id" name="id" value={{.ID}}>
        {{range .Guests}}
        <div>
            <input type="checkbox" name="{{.}}" id="{{.}}"><label for="{{.}}">{{.}}</label>
        </div>
        {{end}}
        {{range .Additional}}
        <div>
            <input type="checkbox">
            <input type="text" placeholder="Guest Name">
        </div>
        {{end}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> */}}


    <div>
        <label>
            Guest(s)
        </label>
        <select class="single-select" name="guests">
            <option disabled selected value>Select your party</option>
            {{range .}}
            <option value="{{.DisplayName}}">{{.DisplayName}}</option>
            {{end}}
        </select>
    </div>

    <button onclick="addGuest()">Add Guest</button>






    {{/* {{range .}}
    {{if index .PlusOne "plusOne"}}
    Will you be bringing a guest?
    <input type="checkbox" />
    Name of guest:<input type="text">
    {{end}}
    {{range .Guests}}
    Meal selection for {{.}}
    Chicken
    Steak
    {{end}}
    {{end}} */}}
</body>

<footer>
    <script>
        $(document).ready(function () {
            $('.single-select').select2();
        });

        function addGuest() {
            var card = document.createElement("div");

            var name = document.createElement("label");
            name.innerHTML = "Name";
            card.append(name);
            var nameInput = document.createElement("input");
            card.append(nameInput);

            var meal = document.createElement("label");
            meal.innerHTML = "Meal";
            card.append(meal);
            var mealInput = document.createElement("select");
            mealInput.className = "single-select"
            mealInput.innerHTML = '<option value="chicken">chicken</option><option value="steak">steak</option>'
            card.append(mealInput);

            document.body.append(card);
            $(document).ready(function () {
                $('.single-select').select2();
            });
        }
    </script>

</footer>

</html>